@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: aliceblue;
}

a{
    color: white;
    text-decoration: none;
}

/* -------------- MENU DISPOZITIVE MOBILE ------------------ */

.header{
    background-color: rgb(0, 145, 133);
    height: 60px;
    padding: 10px 20px;

    /* position: relative; */
    position: fixed;
    width: 100%;

    z-index: 100;
    top: 0;
    right: 0;

}

#btn-menu--intrare{
    font-size: 30px;
    color: white;

    position: absolute;
    top: 15px;
    right: 25px;
}

#btn-menu--iesire{
    font-size: 30px;
    color: white;

    position: absolute;
    top: 15px;
    right: 25px;

    display: none;
}

.navigatie{
    background-color: rgb(0, 99, 142);
    width: 300px;
    height: 100%;
    border-right: 2px solid white;

    position: fixed;
    top: 60px;
    left: -300px;

    transition: all .4s;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    z-index: 200;
}

.menu{
    /* background-color: gray; */
    color: white;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}

/* .casuta-logo{
    background-color: beige;
} */

.continut-menu{
    /* background-color: aqua; */
    margin-top: 30px;
}

.elemente{
    padding: 25px 25px;
    font-size: 22px;
    /* background-color: aqua; */

    display: flex;
    align-items: center;
}

.casuta-logo img{
    width: 100%;
    height: 100%;
}


.butoane{
    font-size: 20px;
    margin-right: 30px;
}

#locatie{
    color: gold;
}


/* ---------------- FINAL MENU DISPOZITIVE MOBILE ----------- */


/* -------------------- MENU LAPTOP -------------------------- */

@media screen and (min-width:760px) {
    .header{
        display: none;
    }

    .navigatie{
        background-color: rgb(0, 145, 133);
        width: 100%;
        height: 80px;
    
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        z-index: 100;
    }

  
    .menu{
        /* background-color: red; */
        height: 80px;
        margin: 0;
        padding: 10px 0px;

        display: flex;
    }

    .casuta-logo{
        width: 30%;
        color: black;
        /* background-color: green; */

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .casuta-logo img{
        width: 170px;
        height: 80%;
    }

    .continut-menu{
        height: 100%;
        width: 70%;
        color: white;
        margin-top: 0;
        margin-right: 20px;
        padding: 10px;

        display: flex;
        gap: 30px;
        justify-content: flex-end;
        align-items: center;
    }

    .elemente{
        height: 100%;
        font-size: 20px;
        cursor: pointer;
        /* background-color: gray; */

        position: relative;
        overflow: hidden;
    }

    .elemente::after{
        content: '';
        display: block;
        background-color: gold;
        width: 100%;
        height: 5px;

        position: absolute;
        bottom: 0;
        left: 0;

        transform: translateX(-101%);
        transition: all .3s;
    }

    .elemente:hover.elemente::after{
        transform: translateX(0%);
    }

    .butoane{
        font-size: 20px;
        margin-right: 20px;
    }
}


@media screen and (max-width:1300px) {
    .casuta-logo{
        display: none;
    
    }

    .continut-menu{
        width: 100%;
        justify-content: center;
        margin-right: 0px;
    }
}

@media screen and (max-width:760px) {
    .casuta-logo{
        display: block;
    }
}

/* ----------------- FINAL MENU LAPTOP ---------------------- */

/* ------------- CONTENEDOR 1 ---------------------- */

.contenedor1{
    /* background-color: red; */
    margin-top: 80px;
}

.contenedor-all1{
    /* background-color: beige; */
    padding: 60px 0px;
}

.contenedor-adaptare1{
    /* background-color: greenyellow; */

    display: flex;
}

.contenedor1-text{
    /* background-color: red; */
    width: 40%;
    padding: 20px 50px;
}

#titlu1{
    margin-top: 30px;
    font-size: 60px;
    color: rgb(0, 99, 142);
}

.contenedor1-text h1{
    font-size: 45px;
    margin-top: -5px;
    color: gold;

}

.contenedor1-text p{
    margin-top: 70px;
    font-weight: 500;
}

.contenedor1-text input{
    margin-top: 140px;
    border: none;
    background-color: gold;
    padding: 8px 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;

    transition: all .3s;
}

.contenedor1-text input:hover{
    background-color: rgb(0, 99, 142);
    color: white;
}

.contenedor1-poze{
    /* background-color: aqua; */
    width: 60%;

    position: relative;
    overflow: hidden;
}

.casuta-btn1-stanga{
    /* background-color: gold; */
    position: absolute;
    top: 0;
    left: 20px;

    height: 100%;
    font-size: 40px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}

.casuta-btn1-dreapta{
    /* background-color: gold; */
    position: absolute;
    top: 0;
    right: 20px;
    
    height: 100%;
    font-size: 40px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}

.poze-all1{
    display: flex;
    width: 400%;
    margin-left: -100%;
}

.casuta1-poza{
    /* background-color: green; */
    width: 100%;
    text-align: center;
}

.casuta1-poza img{
   height: 550px;
   width: 100%;
}

/* ---- media queries ------ */

@media screen and (max-width:1231px) {
    .contenedor1-text input{
        margin-top: 90px;
       
    }
}

@media screen and (max-width:900px) {
    .contenedor-adaptare1{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .contenedor1-text{
        width: 100%;
        padding: 20px 40px;
        text-align: center;
    }

    .contenedor1-poze{
        /* background-color: aqua; */
        width: 100%;
    
        position: relative;
        overflow: hidden;
    }

    .contenedor1{
        /* background-color: red; */
        margin-top: 20px;
    }
}

@media screen and (max-width:520px){
    .casuta1-poza img{
        height: 400px;
        width: 100%;
     }
}

@media screen and (max-width:380px) {
    .casuta1-poza img{
        height: 350px;
        width: 100%;
     }
     .casuta-btn1-stanga, .casuta-btn1-dreapta{
        font-size: 30px;
       
    }
}

/* ----- final media queries ------- */

/* ------------------- FINAL CONTENEDOR 1 ---------------- */

/* ---------------------- CONTENEDOR 2 ------------------------ */

.contenedor2{
    /* background-color: red; */
}

.contenedor-all2{
    background-color: rgba(0, 145, 133);
    padding: 50px 10px;
}

.contenedor-adaptare2{
    /* background-color: pink; */
    max-width: 1200px;
    margin: auto;
}

.contenedor2-titlu{
    /* background-color: red; */
    font-size: 30px;
    margin-bottom: 20px;
    color: aliceblue;
}

.contenedor2-casute{
    /* background-color: greenyellow; */

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.casuta{
    background-color: purple;
    width: 280px;
    height: 210px;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    
}

/* .casuta-poza{
    background-color: yellow;
    overflow: hidden;
} */

.casuta-poza img{
    width: 100%;
    height: 210px;
}

.casuta-descriere{
    /* background-color: rgba(0, 145, 133, 0.611); */
    background-color: rgba(240, 248, 255, 0.618);
    width: 100%;
    height: 130px;
    padding: 10px;
    color: black;
    font-weight: 600;

    position: absolute;
    /* bottom: -83px; */
    bottom: -85px;
    left: 0;

    transition: all .4s;
    overflow: hidden;

}

.casuta-descriere p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.casuta-descriere i{
    transform: translateY(-150%);

    transition: all .4s;

    position: absolute;
    top:12px;
    right: 15px;
}

.casuta:hover .casuta-descriere i{
    transform: translateY(0);
}

#btn_sageataJos1{
    display: none;
}

#btn_sageataJos2{
    display: none;
}

#btn_sageataJos3{
    display: none;
}

#btn_sageataJos4{
    display: none;
}


/* ------ media queries ------  */

@media screen and (max-width:880px) {
    .contenedor2-titlu{
        text-align: center;
    }
}

@media screen and (max-width:800px) {
    .casuta-descriere i{
        transform: none;
    
        position: absolute;
        top:15px;
        right: 15px;
    }
}

/* -------------------- FINAL CONTENEDOR 2 ------------------------- */

/* ---------------------- CONTENEDOR 3 --------------------------- */

.contenedor3{
    height: 500px;
    background-color: beige;
}


/* -------------------- FINAL CONTENEDOR 3 ------------------------- */
.navigatie--aparitie{
    left: 0;
}

.casuta_descriere--aparitie{
    bottom:0px;
}

.casuta_descriere--culoare{
    background-color: rgba(240, 248, 255, 0.897);
}

